@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 180px;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}
section#telefone {
    

    height: 627px;
    width: 311px;

    background: url(../imagens/frame-iphone.png) no-repeat;

}
iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 269px;
    height: 471px;
}